@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-made-tommy: "MADE TOMMY", Arial, Helvetica, sans-serif;
  --font-gretaros: "Gretaros", Georgia, serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-made-tommy);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-made-tommy);
}